%section#buttons.nav
    %h3.section Buttons
    %p
        %a.btn Default
        %a.btn.red Red
        %a.btn.green Green
        %a.btn.blue Blue
        %a.btn.cyan Cyan
        %a.btn.magenta Magenta
        %a.btn.yellow Yellow
        %a.btn.purple Purple
        %a.btn.orange Orange
    %p
        %a.btn.toggle Toggle
        %a.btn.red.toggle Red
        %a.btn.green.toggle Green
        %a.btn.blue.toggle Blue
        %a.btn.cyan.toggle Cyan
        %a.btn.magenta.toggle Magenta
        %a.btn.yellow.toggle Yellow
        %a.btn.purple.toggle Purple
        %a.btn.orange.toggle Orange
    %p
        %a.btn.text Text
        %a.btn.red.text Red
        %a.btn.green.text Green
        %a.btn.blue.text Blue
        %a.btn.cyan.text Cyan
        %a.btn.magenta.text Magenta
        %a.btn.yellow.text Yellow
        %a.btn.purple.text Purple
        %a.btn.orange.text Orange

    %h4 Sizes
    %p
        %a.btn.lg Large
        %a.btn Default
        %a.btn.sm Small

    %h4 Groups
    .btn-group
        %a.btn First
        %a.btn Second
        %a.btn Third
    .btn-group.single
        %a.btn Single
        %a.btn Select
        %a.btn Group

    %h4 Badges
    %p
        %a.btn
            = "Default"
            %i.bdg.red 0
        %a.btn.blue
            = "Blue"
            %i.bdg 0
        %a.btn.red
            = "Red"
            %i.bdg 0
        %a.btn.yellow
            = "Yellow"
            %i.bdg 0
        %a.btn.green
            = "Green"
            %i.bdg 0
        %a.btn.purple
            = "Purple"
            %i.bdg 0
        %a.btn.orange
            = "Orange"
            %i.bdg 0
