%section#forms
	%h3.section Forms

	%form
		.row
			.col-xs-6
				%label Text
				%input{ 'type' => 'text' }
				%label Textarea
				%textarea{ 'rows' => 1 }
				%label Select
				%select
					%option - Make a Selection -
			.col-xs-6
				%label Checkboxes
				.checkbox
					%label
						%input{ 'type' => 'checkbox', 'name' => 'checkbox' }
						= 'Option 1'
					%label
						%input{ 'type' => 'checkbox', 'name' => 'checkbox' }
						= 'Option 2'
					%label
						%input{ 'type' => 'checkbox', 'name' => 'checkbox' }
						= 'Option 3'
				%label Radio Buttons
				.radio
					%label
						%input{ 'type' => 'radio', 'name' => 'radio' }
						= 'Option 1'
					%label
						%input{ 'type' => 'radio', 'name' => 'radio' }
						= 'Option 2'
					%label
						%input{ 'type' => 'radio', 'name' => 'radio' }
						= 'Option 3'

	%h4 Input Groups

	%form
		.input-group
			.addon An Add-On
			.addon Another Add-On
			%input{ 'type' => 'text' }
			%button{ 'type' => 'button' } Go

	%h4 Form Confirmation

	%form{ 'data-confirm' => 'Are you sure?' }
		%button{ 'type' => 'submit' } Submit
