%section#labels.nav
	%h3.section Labels
	%p Labels can be plain text
	%p
		%span.lbl Default
		%span.lbl.primary Primary
		%span.lbl.success Success
		%span.lbl.error Error
		%span.lbl.warning Warning
		%span.lbl.info Info
	%code.demo
		= "&lt;p&gt;Labels can be plain text&lt;/p&gt;\n"
		= "&lt;p&gt;\n"
		= "\t&lt;span class=\"lbl\"&gt;Default&lt;/span&gt;\n"
		= "\t&lt;span class=\"lbl primary\"&gt;Primary&lt;/span&gt;\n"
		= "\t&lt;span class=\"lbl success\"&gt;Success&lt;/span&gt;\n"
		= "\t&lt;span class=\"lbl error\"&gt;Error&lt;/span&gt;\n"
		= "\t&lt;span class=\"lbl warning\"&gt;Warning&lt;/span&gt;\n"
		= "\t&lt;span class=\"lbl info\"&gt;Info&lt;/span&gt;\n"
		= "&lt;/p&gt;"
	%p Labels can also be clickable
	%p
		%a.lbl{ :href => 'index.html' } Default
		%a.lbl.primary{ :href => 'index.html' } Primary
		%a.lbl.success{ :href => 'index.html' } Success
		%a.lbl.error{ :href => 'index.html' } Error
		%a.lbl.warning{ :href => 'index.html' } Warning
		%a.lbl.info{ :href => 'index.html' } Info
	%code.demo
		= "&lt;p&gt;Labels can also be clickable&lt;/p&gt;\n"
		= "&lt;p&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl\"&gt;Default&lt;/a&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl primary\"&gt;Primary&lt;/a&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl success\"&gt;Success&lt;/a&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl error\"&gt;Error&lt;/a&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl warning\"&gt;Warning&lt;/a&gt;\n"
		= "\t&lt;a href=\"index.html\" class=\"lbl info\"&gt;Info&lt;/a&gt;\n"
		= "&lt;/p&gt;"
