%section#normtables.nav
	%h3.section Tables
	%p Tables have been given horizontal lines by default
	%div.demo
		%table{ :style => 'width: 100%' }
			%thead
				%tr
					%th Column 1
					%th Column 2
					%th Column 3
			%tbody
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
	%code.demo
		= "&lt;table style=\"width: 100%\"&gt;\n"
		= "\t&lt;thead&gt;\n"
		= "\t\t&lt;tr&gt;\n"
		= "\t\t\t&lt;th&gt;Column 1&lt;/th&gt;\n"
		= "\t\t\t&lt;th&gt;Column 2&lt;/th&gt;\n"
		= "\t\t\t&lt;th&gt;Column 3&lt;/th&gt;\n"
		= "\t\t&lt;/tr&gt;\n"
		= "\t&lt;/thead&gt;\n"
		= "\t&lt;tbody&gt;\n"
		= "\t\t&lt;tr&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 1&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 2&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 3&lt;/td&gt;\n"
		= "\t\t&lt;/tr&gt;\n"
		= "\t\t&lt;tr&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 1&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 2&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 3&lt;/td&gt;\n"
		= "\t\t&lt;/tr&gt;\n"
		= "\t\t&lt;tr&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 1&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 2&lt;/td&gt;\n"
		= "\t\t\t&lt;td&gt;Cell 3&lt;/td&gt;\n"
		= "\t\t&lt;/tr&gt;\n"
		= "\t&lt;/tbody&gt;\n"
		= "&lt;/table&gt;"
