%section#typography.nav
	%h3.section Typography
	%p Main Body Text
	%p.lead Lead Text
	%p
		%a{ :href => 'other.html' } Hyperlink
	%code.demo
		= "&lt;p&gt;Main Body Text&lt;/p&gt;\n"
		= "&lt;p class=\"lead\"&gt;Lead Text&lt;/p&gt;\n"
		= "&lt;p&gt;&lt;a href=\"other.html\"&gt;Hyperlink&lt;/a&gt;&lt;/p&gt;"

	%h4.section Headings
	%h1
		Heading 1
		%small Small text
	%h2
		Heading 2
		%small Small text
	%h3
		Heading 3
		%small Small text
	%h4
		Heading 4
		%small Small text
	%h5
		Heading 5
		%small Small text
	%h6
		Heading 6
		%small Small text
	%code.demo
		= "&lt;h1&gt;Heading 1 &lt;small&gt;Small text&lt;/small&gt;&lt;/h1&gt;\n"
		= "&lt;h2&gt;Heading 2 &lt;small&gt;Small text&lt;/small&gt;&lt;/h2&gt;\n"
		= "&lt;h3&gt;Heading 3 &lt;small&gt;Small text&lt;/small&gt;&lt;/h3&gt;\n"
		= "&lt;h4&gt;Heading 4 &lt;small&gt;Small text&lt;/small&gt;&lt;/h4&gt;\n"
		= "&lt;h5&gt;Heading 5 &lt;small&gt;Small text&lt;/small&gt;&lt;/h5&gt;\n"
		= "&lt;h6&gt;Heading 6 &lt;small&gt;Small text&lt;/small&gt;&lt;/h6&gt;\n"

	%h4.section Hyperlinks
	%dl
		%dt Unvisited Links
		%dd
			%a.primary{ :href => 'other.html' } Primary
			%a.success{ :href => 'other.html' } Success
			%a.error{ :href => 'other.html' } Error
			%a.warning{ :href => 'other.html' } Warning
			%a.info{ :href => 'other.html' } Info
		%dt Visited Links
		%dd
			%a.primary{ :href => 'index.html' } Primary
			%a.success{ :href => 'index.html' } Success
			%a.error{ :href => 'index.html' } Error
			%a.warning{ :href => 'index.html' } Warning
			%a.info{ :href => 'index.html' } Info
	%code.demo
		= "&lt;dl&gt;\n"
		= "\t&lt;dt&gt;Unvisited Links&lt;/dt&gt;\n"
		= "\t&lt;dd&gt;\n"
		= "\t\t&lt;a href=\"other.html\" class=\"primary\"&gt;Primary&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"other.html\" class=\"success\"&gt;Success&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"other.html\" class=\"error\"&gt;Error&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"other.html\" class=\"warning\"&gt;Warning&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"other.html\" class=\"info\"&gt;Info&lt;/a&gt;\n"
		= "\t&lt;/dd&gt;\n"
		= "\t&lt;dt&gt;Visited Links&lt;/dt&gt;\n"
		= "\t&lt;dd&gt;\n"
		= "\t\t&lt;a href=\"index.html\" class=\"primary\"&gt;Primary&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"index.html\" class=\"success\"&gt;Success&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"index.html\" class=\"error\"&gt;Error&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"index.html\" class=\"warning\"&gt;Warning&lt;/a&gt;\n"
		= "\t\t&lt;a href=\"index.html\" class=\"info\"&gt;Info&lt;/a&gt;\n"
		= "\t&lt;/dd&gt;\n"
		= "&lt;/dl&gt;"
