!!! 5
%html
	= render '_head'
	%body
		= render '_navbar'
		%article.wrapper.fluid
			%div.row
				%div.col-md-4.col-lg-3
					= render '_sidenav'
				%div.col-md-8.col-lg-9
					= render '_colors'
					= render '_normtype'
					= render '_normlists'
					= render '_normtables'
					= render '_normforms'
					= render '_buttons'
					= render '_labels'
					= render '_badges'
					= render '_blockquote'
					= render '_tables'
					= render '_lists'
					= render '_cards'
					= render '_tabbars'
					= render '_tooltips'
					= render '_menu'
					= render '_collapse'
					= render '_modal'
					= render '_confirm'
