!!! 5
%html
	= render '_head'
	%body
		= render '_navbar'
		%article.wrapper
			= render '_typography'
			-# = render '_text'
			= render '_buttons'
			= render '_labels'
			= render '_badges'
			= render '_tables'
			= render '_lists'
			= render '_cards'
			= render '_tabbars'
			= render '_modal'
			= render '_forms'
			= render '_tooltips'
