!!! 5
%html
	%head
		%title Barista Framework

		%link{ :rel => 'stylesheet', :href => '../../lib/fontawesome/css/font-awesome.min.css' }
		%link{ :rel => 'stylesheet', :href => '../css/barista.css' }

		%script{ :src => '../../lib/jquery/dist/jquery.min.js' }
		%script{ :src => '../js/barista.js' }

		:css
			h3.section { margin-top: 0; border-bottom: 1px solid #999; }
	%body
		%header.navbar
			.wrapper
				.icon
					%a Home
				#main-menu.menu
					%ul.nav
						%li
							%a{ 'data-action' => 'menu' }
								%span.navlbl First Item
							%ul
								%li
									%a First Sub-Item
								%li
									%a Second Sub-Item
								%li
									%a Third Sub-Item
						%li
							%a
								%span.navlbl Second Item
					%ul.nav.right
						%li
							%a
								%span.navlbl Special Item
							%ul
								%li
									%a Sub-Item
				%a.icon.more{ 'data-target' => '#main-menu', 'data-action' => 'toggle' }
					%i.fa.fa-bars
		%article.wrapper
			= render '_typography'
			= render '_text'
			= render '_buttons'
			= render '_labels'
			= render '_badges'
			= render '_tables'
			= render '_lists'
			= render '_cards'
			= render '_tabbars'
			= render '_modal'
			= render '_forms'
			= render '_tooltips'
